
*{
    padding: 0px;
    margin: 0px;
    text-transform: capitalize;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    transition: 0.2s linear;
    outline: none;
   
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(116, 110, 110);
}
body{
    background: gray;
}

header nav a{
    margin: 15px;
    padding: 5px;
    color: black;
}
header nav a:hover{
    
    border-radius: 30px;
    background: white;
    cursor: pointer;
    
}
header img{
    height: 27px;
}

.header .navbar{
    position: absolute;
    right: -100%;
    background: #fff;
    width: 100%;
    height: 100%;
}
.header #search_form{
    position: absolute;
    display: flex;
    top: 40px;
    right: 0px;
}
.header .navbar.active{
    right: 0px;
    display: flex;
    flex-direction: column;
    top: 20px;
    width: 120px;
    
    margin: 12px 0px;
    
}
.header .containar_cart{
    position: absolute;
    right: -100%;
    top: 32px;
    background: #fff;
    width: 250px;
    height: 100%;
    
}
.header .containar_cart.active{
    right: 0px;
}
.header .containar_cart .cart_item{
    position: relative;
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 17px;
    
}
.header .containar_cart .cart_item span{
    position: absolute;
    right: 0px;
    cursor: pointer;
    font-size: 10px;
}
.header .containar_cart .cart_item span:hover{
    color: red;
}
.header .containar_cart .cart_item img{
    height: 50px;
}
.header .containar_cart .cart_item .content{
   
    left: 80px;
    bottom: 11px;
}
.header .containar_cart .cart_item .price{
    font-size: 13px;
    color: rgb(122, 117, 117);
}
.header .containar_cart .cart_item h2{
    font-size: 17px;
    color: rgb(87, 81, 81);
}
.header .containar_cart .btn{
    color: white;
    border-radius: 5px;
    padding: 2px;
    background: rgb(0, 0, 0);
    margin: 20px ;
    display: flex;
    font-style: italic;
    
}
.header .containar_cart .btn:hover{
    background: rgb(18, 121, 18);
}
.header input{
    display: none;
}.header input.active{
    position: absolute;
    display: block;
    right: 13px;
    top: 25px;
    margin: 12px 0px;
   height: 20px;
   width: 300px;
}
.header #search_form.active{
    
    right: 12px;
    top: 40px;
}
.header #search_form{
    right: -100%;
}
.icons{
    position: absolute;
    right: 7.5px;
}
.icons div{
    margin: 7px;
}
/* تابلت */
@media (max-width:991px){
    html{
        font-size:100%;
        overflow-x: hidden;

    }

    .header{
        
        position: relative;
        width: 85%;
    }

    .header .navbar{
        position: absolute;
        display: flex;
        flex-direction: column;
        right: -110%;
        width: 100%;
    }
    .header .navbar.active{
    
        top: 30px;
        right: 0px;

    }
    .header .navbar a{
        margin: 5px;
    }
    .header .containar_cart.active{
        position: absolute;
        top: 40px;
        right: 0px;
        height: 340px;
        
    }
    .header .cart_item{
        margin: 20px;
        flex-direction: column;
    }
    .header #input.active{
        display: flex;
        top: 28px;
        right: 0px;
    }
    .icons{
        margin: 0px 7px;
        padding: 10px;
        right: 20px;
    }
    header img{
        position: absolute;
        height: 35px;
        margin: 2px;
        left: 1.2px;
        top: 1.2px;
    }
    
}

/* موبايل */
@media (max-width:768px){
    *{
        overflow-y: hidden;
    }
    #menu-btn{
        display:inline-block;
    }

    .header .navbar{
        right:-100%;
    }

    .header .navbar.active{
        right:0;
    }
}

/* موبايلات صغيرة */
@media (max-width:450px){
    html{
        font-size:100%;
    }
    .icons{
        font-size: 200%;
    }
    .header .navbar{
        
        display: flex;
        right: -1000px;
        
    }
    .header .navbar.active{
        
        display: flex;
        top: 75px;
        
    }
    .header .containar_cart{
        
        display: flex;
        right: -1000px;
        
    }
    .header .containar_cart.active{
        
        display: flex;
        top: 88px;
        flex-direction: column;
    }
    .header input.active{
    
    display: flex;
    right: 0px;
    top: 77px;
    margin: 12px 0px;
    height: 22px;
    }
}

